html,body
{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@font-face { font-family: 'Odin Rounded'; src: url("../ttf/odinrounded.otf"); font-weight: bold; }
/* .nebula {
    background-image:url("../img/coworking.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
} */
body {
  background:#222222;
	font-family:Roboto;
  font-weight:lighter;
}
h1,h2,h3,h4,h5,h6,ul.nav { font-family: Odin Rounded; font-weight:bold; text-transform:uppercase; }
a,a:hover,a:active,a:focus { text-decoration:none !important; }
.footer { font-family: Roboto; font-size:1.5em;}

.facebook,.facebook:hover { text-align:left; background:#3C5A98; text-shadow:none; }
.twitter,.twitter:hover { text-align:left; background:#00ACED; text-shadow:none; }
.youtube,.youtube:hover { text-align:left; background:#FF1F20; text-shadow:none; }
.foursquare,.foursquare:hover { text-align:left; background:#0072B1; text-shadow:none; }
.github,.github:hover { text-align:left; background:white; text-shadow:none; }

.divider { margin:5px; }
.inline { display:inline; color:white; }
.hidden { display:none; }
.centered { text-align:center; }
.footer { background-color:white; color:black; margin-top:0; font-size: 1em; border-top:0; }

.input_id_card_pay_option_0 { display:none; }
.fixed-navbar {
	border:0px;
	border-radius:0px;
	padding:0px;
	margin-bottom:0px;
}

#navigation {
  background: #7a5ea7;
}

.overlay {
  height: 100%;
  margin: 0;
  display: flex;
  /* color: white !important; */
  /* background: linear-gradient(rgba(0,0,0,0.60), rgba(122, 94, 167, 0.60)); */
  background: white;
  text-align: center;
  align-items: center;
}

.full { background-size: cover; }

.whitespace {
  background: white;
  color: black !important;
}

ul.nav li.nav-item { font-size:1.5em; margin: .5em; }
.nav li a { color: white !important; }
