<!doctype html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="coworking, colaborativo, Porto Alegre, Centro Histórico, microempresas, empreendedorismo">
  <meta name="description" content="A Fábrica de Ideias é um espaço de coworking localizado no centro de Porto Alegre.">
  <title>Fábrica de Ideias Coworking</title>
  <link rel="shortcut icon" href="../../assets/img/fabricalogo.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<body class="full nebula">
  <div class="jumbotron">
    <div class="container text-center">
      <img src="../../assets/svg/fabrica.svg" class="hidden-xs img-responsive center-block" style="width:20%; margin:0 auto;" />
      <img src="../../assets/svg/fabrica.svg" class="visible-xs img-responsive center-block" style="width:30%; margin:0 auto;" />
      <h2 style="font-size:2em; line-height:1.2em; padding-top:1em;">
        Somos a Fábrica de Ideias Coworking, <br>um ambiente coletivo completamente acolhedor.<br></h2>
      <button class="btn btn-default btn-lg" onclick="window.location='http://www.youtube.com/watch/BEhubwgjl6s'" style="margin-top:2em; background:transparent; color:white; border: 1px solid white;">
        <h2 class="hidden-xs" style="font-size:1.5em; margin-top:1px; margin-bottom:0px">Saiba mais o que é o coworking</h2>
        <h2 class="visible-xs" style="font-size:1.5em; margin:0px">Saiba mais</h2>
      </button>
    </div>
  </div>