<nav class="navbar navbar-transparent navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-container">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="http://website_placeholder">
                <div class="logo-container">
                    <h5 class="navbar-logo hidden-md hidden-lg hidden-xl">
                        <img width="25" height="25" src="../../assets/img/fabricalogo.png" />
                        <label>Fábrica de Ideias</label>
                    </h5>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-container">
            <h6 class="hidden-md hidden-lg hidden-xl">Saiba mais:</h6>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.facebook.com/99pets.org">
                        <i class="fa fa-facebook-square"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/99pets.org">
                        <i class="fa fa-photo"></i>
                        Fotos
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/99pets.org">
                        <i class="fa fa-credit-card"></i>
                        Valores
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/99pets.org">
                        <i class="fa fa-users"></i>
                        Coworkers
                    </a>
                </li>
            </ul>
            <div class="slogan hidden-md hidden-lg hidden-x">
                Review Academics: Se você ama pets, está no lugar certo ♡
            </div>
        </div>
    </div>
</nav>